.top_match {
    padding: 1.7em;
    display: flex;
    justify-content: space-between;
    /* background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.4598214285714286) 0%, rgba(9,9,121,0.36458333333333337) 34%, rgba(210,210,231,0.10127801120448177) 93%, rgba(255,255,255,0) 100%); */
    /* background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.2861519607843137) 0%, rgba(9,9,121,0.1516981792717087) 34%, rgba(210,210,231,0.06486344537815125) 93%, rgba(255,255,255,0) 100%); */
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.2861519607843137) 0%, rgba(9,9,121,0.1516981792717087) 34%, rgba(255,255,255,0) 100%);
}

.fixture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fixture .top h3 {
    width: max-content;
    font-weight: 700;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    letter-spacing: .3em;
}

.fixture .center {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fixture .center .info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fixture .center .info span:nth-child(1) {
    font-weight: 700;
}

.fixture .center .info .dot {
    content: '';
    background-color: gray;
    width: 4px;
    height: 4px;
    border-radius: 2px;
}

.fixture .center .teams {
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    gap: 5px;
}

.outcomes {
    display: grid;
    grid-template-areas: 
    'one one'
    'two three';
    gap: .3rem;
}

.outcomes .one {
    grid-area: one;
}

.outcomes .two {
    grid-area: two;
    width: 140px;
}

.outcomes .three {
    grid-area: three;
    width: 140px;
}
