.league > .info {
    display: flex;
    align-items: center;
    gap: .3em;
    background-color: black;
    color: white;
    padding: 0.3em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.league > .matches {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.league > .matches > div:not(:last-child) {
    border-bottom: 1px solid black;
}

.league .dot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
}
